.nav-land {
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
    display: flex;
    background-color: #1E1E1E;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* - - - - - - - - - -   Lista de Secciones   - - - - - - - - - - */


.ul-seccions-land {
    width: 100vw;
    height: calc(90vh + 1px);
    padding: 1.2rem ;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    position: absolute;
    top: calc(10vh - 1px);
    left: -100%;
    transition: all .5s ease-in-out;
}

.ul-seccions-active-land {
    left: 0;
    background-color: #1E1E1E;
}

.ul-seccions-land li {
    width: 100%;
    padding: .8rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.li-uno-secciones {
    display: none;
}

.a-link-land {
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* - - - - - - - - - -   Lista de Redes   - - - - - - - - - - */


.ul-redes {
    list-style: none;
    display: none;
    align-items: center;
    column-gap: 2rem;
}

.rrss-link-land {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.rrss-land {
    width: 2rem;
    height: 2rem;
    color: rgb(0, 0, 0);
}



/* - - - - - - - - - -   Hamburguer Botton   - - - - - - - - - - */



#hamburguer-land{
    color: var(--white);
    font-size: 22px;
    margin-right: 25px;
    line-height: 60px;
    cursor: pointer;
    display: flex;
    background-color: #ecf0f1;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.three{
    padding: 1px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #1E1E1E;
    text-align: center;
}
  
.hamburger-land .line-land{
    width: 20px;
    height: 3px;
    background-color: #1E1E1E;
    display: block;
    margin: 4px auto;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger-land:hover{
    cursor: pointer;
}

#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger-6.is-active .line-land:nth-child(2){
    width: 0px;
}
  
#hamburger-6.is-active .line-land:nth-child(1),
#hamburger-6.is-active .line-land:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
#hamburger-6.is-active .line-land:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(7px);
}
  
#hamburger-6.is-active .line-land:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-7px) rotate(90deg);
}