.section-header-land {
    position: relative;
    background-color: #1e1e1e;
}

/* - - - - - - - - - -   Imagen   - - - - - - - - - - */

.imagen-land-desktop {
    display: none;
    width: 100%;
} 

.imagen-land-mobile {
    width: 100%;
}

/* - - - - - - - - - -   Texto   - - - - - - - - - - */

.container-texto-header-land {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 1.2rem;
}

.container-textos {
    position: absolute;
    width: 47%;
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    top: 68%;
    left: 19%;
}

